flows.json
[{"id":"a3feda27.814238","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b4bfeca.514f01","type":"function","z":"a3feda27.814238","name":"PreToken","func":"global.set(\"rn\",msg.payload.rn)\nglobal.set(\"cid\",msg.payload.cid)\nglobal.set(\"sn\",msg.payload.sn)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"geo\",msg.payload.geo)\nglobal.set(\"gen\",msg.payload.gen)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"hcc\",msg.payload.hcc)\nglobal.set(\"iam\",msg.payload.iam)\nglobal.set(\"es\",msg.payload.es)\nvar apikey=\"G2YjQXh9q65ZFIEgIcq8We1qu_3LFzl7b2X74imme3_V\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["77a2fcb9.261404"]]},{"id":"77a2fcb9.261404","type":"http request","z":"a3feda27.814238","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":388.9999952316284,"wires":[["dc11121f.bf90f"]]},{"id":"ad09b3a4.1415c","type":"inject","z":"a3feda27.814238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.5,"y":313.99999809265137,"wires":[["b4bfeca.514f01"]]},{"id":"7ed51949.7da138","type":"debug","z":"a3feda27.814238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":898.0000114440918,"y":130.99999713897705,"wires":[]},{"id":"dc11121f.bf90f","type":"function","z":"a3feda27.814238","name":"Pre Prediction","func":"var rn = global.get('rn')\nvar cid = global.get('cid')\nvar sn = global.get('sn')\nvar cs = global.get('cs')\nvar geo = global.get('geo')\nvar gen = global.get('gen')\nvar a = global.get('a')\nvar t = global.get('t')\nvar bal = global.get('bal')\nvar nop = global.get('nop')\nvar hcc = global.get('hcc')\nvar iam = global.get('iam')\nvar es = global.get('es')\nvar token=msg.payload.access_token\nvar instance_id=\"d08d5a8e-a93e-4a8f-9523-8afd57b0f910\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Row Number\", \"Customer Id\", \"Surname\", \"Credit Scode\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"No. of Products\", \"Has Credit Card\", \"Is Active Member\", \"Estimated Salary\"], \"values\": [[rn,cid,sn,cs,geo,gen,a,t,bal,nop,hcc,iam,es]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":656.0000076293945,"y":351.9999990463257,"wires":[["dfc852fa.3849a"]]},{"id":"dfc852fa.3849a","type":"http request","z":"a3feda27.814238","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/15233374-e8ed-463d-b0a5-1a4e546b0c78/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":295.9999990463257,"wires":[["5ce3bde4.2bd1a4","2a04d67b.800e0a"]]},{"id":"97a51d29.6113","type":"ui_form","z":"a3feda27.814238","name":"","label":"","group":"4f4248b7.dec148","order":0,"width":0,"height":0,"options":[{"label":"Row Number","value":"rn","type":"number","required":true,"rows":null},{"label":"Customer Id","value":"cid","type":"number","required":true,"rows":null},{"label":"Surname ","value":"sn","type":"text","required":true,"rows":null},{"label":"Credit Score","value":"cs","type":"number","required":true,"rows":null},{"label":"Geography","value":"geo","type":"text","required":true,"rows":null},{"label":"Gender","value":"gen","type":"text","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null},{"label":"Tenure","value":"t","type":"number","required":true,"rows":null},{"label":"Balance","value":"bal","type":"number","required":true,"rows":null},{"label":"No. of Products","value":"nop","type":"number","required":true,"rows":null},{"label":"Has Credit Card","value":"hcc","type":"number","required":true,"rows":null},{"label":"Is Active Member","value":"iam","type":"number","required":true,"rows":null},{"label":"Estimated Salary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"rn":"","cid":"","sn":"","cs":"","geo":"","gen":"","a":"","t":"","bal":"","nop":"","hcc":"","iam":"","es":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":442.9999952316284,"wires":[["b4bfeca.514f01"]]},{"id":"3a82ace6.a50b94","type":"ui_text","z":"a3feda27.814238","group":"4f4248b7.dec148","order":1,"width":0,"height":0,"name":"","label":"Churn out (if 1=yes,if 0=no)","format":"{{msg.payload}}","layout":"row-spread","x":847.6000366210938,"y":448.20000743865967,"wires":[]},{"id":"5ce3bde4.2bd1a4","type":"function","z":"a3feda27.814238","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":609.6000366210938,"y":191.60000133514404,"wires":[["7ed51949.7da138","3a82ace6.a50b94"]]},{"id":"2a04d67b.800e0a","type":"debug","z":"a3feda27.814238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":380,"wires":[]},{"id":"4f4248b7.dec148","type":"ui_group","z":"","name":"Customer Churn Prediction","tab":"20a7cc05.602764","order":1,"disp":true,"width":"6","collapse":false},{"id":"20a7cc05.602764","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]